<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
</head>
<body>

    <h1> Analysis Page here :</h1>
    <h2>Question 1:</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].res %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>Question 2:</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].res %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Question 3:</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].res %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    <h2>Question 4:</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].res %> :  <%= results[3][i].count %></li>
    <% } %>    
    </ul>
    <h2>Question 5:</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].res %> :  <%= results[4][i].count %></li>
    <% } %>    
    </ul>
    <h2>Question 6:</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].res %> :  <%= results[5][i].count %></li>
    <% } %>    
    </ul>
    <h2>Question 7:</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
        <li><%= results[6][i].res %> :  <%= results[6][i].count %></li>
    <% } %>    
    </ul>


</body>
</html>